<div>
<img class="profile-picture" src="mypic.png" />

</br></br></br>

Abhishek Jha  <br/>
MS (by research), Computer Science  <br/>
<a href="http://cvit.iiit.ac.in">Centre for Visual Information Technology (CVIT)</a>  <br/>
<a href="http://iiit.ac.in">IIIT Hyderabad</a>  <br/>
Email: abhishek [dot] jha [at] research.iiit.ac.in
<br>
 <a style="width:auto; height:10px;"href="https://www.iitism.ac.in/"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
</div>
<div style="clear:both"></div>
<hr />
