@import "vars";

.content {
    a:hover {
        text-decoration: underline;
    }
    ol {
        counter-reset: list;
    }
    ol > li {
        list-style-position: none;
        position: relative;
        list-style: none;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ul > li {
        margin: 5px 0 5px 0;
    }
    ul {
        padding: 0 20px 0 20px;;
    }
    ol {
        padding: 0 30px 0 30px;
    }
    ol > li:before {
        content: "[" counter(list, decimal) "] ";
        counter-increment: list;
        position: absolute;
        left: -30px;
    }
    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }
    .profile-picture {
        height: $profile-image-size;
        width: $profile-image-size;
        //box-shadow: 0 0 5px #828282;
        position: relative;
        margin: 0px 20px 0 0;
        float: left;
        border-radius: 5%;
        p & {
            padding: 0;
            margin: 0;
        }
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    .custom_logo {
        height: 60px;
        width: 60px;
        //box-shadow: 0 0 5px #828282;
        position: relative;
        @media (max-width: $small-width) {
            img {
                margin-top: -5px;
            }
        }
    }
    img {
        text-align: center;
        width: 100%;
    }
    .img_custom {
        text-align: center;
        width: 450px;
        padding-left: 20px;
    }
}
